
.bicicleta {
    background-image: url(../ASSETS/ironman.jpg);
    background-repeat: no-repeat;
    height: 800px;
    width: 1220px;
}

#tablaDeBici {
    text-align: center;
}

#tituloDeTabla {
    background-color: rgb(191, 236, 145);
    color: rgb(109, 109, 248);
    border-color: black;
}