
$colorPrincipal: #D3232D;

.imagenContacto {
    background-image: url(../ASSETS/swimming.jpg);
    background-repeat: no-repeat;
    height: 800px;
}

.p__texto--estilos {

    color: #e9e9e9;
    margin: -14em 1em 1em 17em;
    -webkit-text-stroke: .5px rgb(0, 0, 0);

    font: {
        weight: bold;
        family: 'Roboto', sans-serif;
        size: 1.2em;
        style: italic;
    }
    
}


.form__titulo--estilos {

    align-items: center;
    margin: .3em 5em 5em 8em;
    color: brown;
    font: {
        weight: bold;
        family: 'Roboto', sans-serif;
        size: 3.5em;
    }
}

.form__contacto--estilos {
    flex-direction: column;
    margin: -13em 1em 4em 18em;
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 50vw;
    height: 100vh;
    // margin: 5em 5em 5em 10em;
    background-color: #263636;
    padding: 1em;
    border-radius: 8px;
    border: solid 1px black;
}


.form__fieldset--legend {
    font-size: 1em;
    font-weight: bold;
    color: $colorPrincipal;
    margin-top: 1rem;
}


textarea {
    margin-top: 20px;
    background-color: rgb(235, 233, 233);
    margin-bottom: 1em;
}

.form__suscripcion--estilos {
    width: 30vw;
    margin-top: 6rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(218, 167, 90);
}
