.imagenContacto {
  background-image: url(../ASSETS/swimming.jpg);
  background-repeat: no-repeat;
  height: 800px;
}

.suscripcion {
  margin-top: 10px;
  margin-left: 15px;
}

textarea {
  margin-top: 20px;
  background-color: black;
}

form {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  width: 50vw;
  height: 100vh;
  margin: 5em 5em 5em 10em;
}

.bicicleta {
  background-image: url(../ASSETS/ironman.jpg);
  background-repeat: no-repeat;
  height: 800px;
  width: 1220px;
}

#tablaDeBici {
  text-align: center;
}

#tituloDeTabla {
  background-color: #1e3a02;
  color: darkblue;
  border-color: black;
}

/* Tipografias

font-family: 'Roboto', sans-serif;

*/
a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

#tituloPrincipal__H1--propiedades {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 6vw;
  color: #D3232D;
  text-align: center;
  margin-top: 10px;
}

.tituloSecundario__H2--color {
  color: #D3232D;
  font-weight: bold;
}

.header__navMenu {
  background-color: black;
  top: 3px;
  display: flex;
  border: cornsilk solid 3px;
  height: 80px;
  flex-direction: column;
  justify-content: left;
  /* horizontal */
  align-items: left;
  /* vertical */
}
.header__navMenu a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}
.header__navMenu li > .header__navMenu--subItem {
  position: absolute;
  display: none;
  background-color: transparent;
  top: 32px;
  left: -34px;
}

i {
  font-size: 2rem;
  margin: 0.2rem;
  color: brown;
}

.solo {
  flex-grow: 2;
}

.video {
  padding-bottom: 85%;
  /* 16/9 ratio */
  padding-top: 85px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  display: grid;
  grid-column: 1/3;
  grid-row: 3/4;
  justify-content: center;
  width: 100% !important;
  height: auto !important;
}

.navMenu__subItem--link {
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover .header__navMenu--subItem {
  display: block;
}

nav li:hover {
  background-color: white;
}

nav a:hover {
  color: black;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ranking {
  color: brown;
  background-color: darkblue;
  grid-column: 1/3;
  grid-row: 3/4;
  border: solid 2px darkcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.ranking__lista {
  list-style: none;
  align-self: center;
}

.ranking__lista--item1 {
  color: red;
}

.ranking__lista--item2 {
  color: blue;
}

.ranking__lista--item3 {
  color: yellow;
}

.ranking__lista--item4 {
  color: black;
}

.ranking__lista--item5 {
  color: pink;
}

.ranking__lista--item6 {
  color: brown;
}

.ranking__lista--item7 {
  color: green;
}

.ranking__lista--item8 {
  color: orange;
}

.ranking__lista--item9 {
  color: violet;
}

.ranking__lista--item10 {
  color: white;
}

footer nav li {
  display: flex;
  flex-direction: row;
  padding: 2px;
  border-radius: 5px;
  transition: 1s;
  position: relative;
  background-color: black;
  width: 5vw;
}

.zocaloFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
}

.zocaloInferior {
  background-color: black;
  top: 2px;
  border: cornsilk solid 3px;
  height: 80px;
  display: grid;
  grid-row: 5/6;
  grid-column: 1/4;
  width: 105vw;
}

.redesFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
  width: 97vw;
}

#cuerpoGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 10% 35% 5%;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  gap: 15rem;
}

h2 {
  font-size: 1.5em !important;
}

h4 {
  font-size: 1em !important;
}

h5 {
  font-size: 1.3em !important;
}

@media only screen and (min-width: 480px) {
  body {
    background-color: #000000;
    width: 96vw;
  }

  nav > ul > ul {
    position: absolute;
    display: none;
    background-color: transparent;
    top: 30px;
    left: -30px;
  }

  .header__navMenu {
    background-color: black;
    top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* horizontal */
    align-items: center;
    /* vertical */
    border: cornsilk solid 3px;
    height: 80px;
    width: 99vw;
  }

  nav li {
    display: flex;
    flex-direction: row;
    border: solid 1px white;
    padding: 2px;
    border-radius: 5px;
    transition: 1s;
    position: relative;
    width: 8vw;
    background-color: black;
    justify-content: center;
  }

  .ranking {
    color: brown;
    background-color: #657a62;
    grid-column: 3/4;
    grid-row: 1/3;
    border: solid 2px #727272;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }

  #cuerpoGrid {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 20% 20% 60%;
    gap: 0.1rem;
    margin: 2rem 0;
  }

  .card {
    -moz-column-gap: 0.1rem;
         column-gap: 0.1rem;
    margin-left: 4rem;
  }

  .zocaloInferior {
    background-image: linear-gradient(to top, black, #3a3a46);
    top: 2px;
    display: flex;
    border: cornsilk solid 3px;
    height: 80px;
    width: 99vw;
  }

  .video {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 180px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}/*# sourceMappingURL=style.css.map */